table{
    border-collapse:collapse;
    border:1px solid black;
}
table tr th{
    border:1px solid black;
    padding:15px;
    width:100px;
}
table tr td{
    border:1px solid black;
    padding:5px;
    margin:5px;
}